<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>GeneCare</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<nav>

    <div class="logo">
        GeneCare
    </div>

    <ul>

        <li>Home</li>

        <li>About</li>

        <li>Features</li>

        <li>Contact</li>

    </ul>

</nav>

<section class="hero">

    <h1>
        Genetic Disorder Detection
    </h1>

    <p>
        Thalassemia & Sickle Cell Anemia
        Awareness Platform
    </p>
<a href="/login">
    <button>Login</button>
</a>

</a>

</section>

</body>
</html>